.homePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
height: 100vh;

}

.homepagename{
  font-size: 70px;
  z-index: 2;
  font-family: Sacramento, sans-serif;
  margin-bottom: 0px;
  color: white;
}
.homepagemessage{
  font-family: Oxygen,sans-serif;
  margin-top: 0px;
  color: white;
}
html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 1270px) {
  #homepageContainer{
    width: 375px;
  }
  .homePage{
  height: 100vh;
  
  }
  
  .homepagename{
    font-size: 50px;
  }
  
  .homepagemessage{
    margin-top: 0px;
  }

  html {
    scroll-behavior: smooth;
  }
}