body {
background-color: rgb(145, 143, 145);}

.homepageContainer{
  margin: 200px;
}

.homepagename{
  display: flex;
  font-size: 70px;
  font-family: Sacramento, sans-serif;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  color: white;
}
.homepagemessage{
  display: flex;
  font-family: Oxygen,sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  color: white;
}
html {
  scroll-behavior: smooth;
}