.aboutSection{
  height: 100vh;
  color: white;
  font-family: Oxygen,sans-serif;
  margin-bottom: 0px;
  
}

.aboutTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.aboutParagraph{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 600px;
  margin: auto;
  margin-bottom: 75px;
}

.topSkills{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bottomSkills{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.iconDetail{
  margin: 18px;
}

.skillsTitle{
  margin-top: 0px;
}

#rails-image{
  width: 70px;
  height: 70px;
  object-fit: contain;
}
#css-image{
  width: 70px;
  height: 70px;
  object-fit: contain;
}
#js-image{
  width: 70px;
  height: 70px;
  object-fit: contain;
}
#html-image{
  width: 70px;
  height: 70px;
  object-fit: contain;
}
#react-image{
  width: 70px;
  height: 70px;
  object-fit: contain;
}
#ruby-image{
  width: 70px;
  height: 70px;
  object-fit: contain;
}
#node-image{
  width: 70px;
  height: 70px;
  object-fit: contain;
}
#mongo-image{
  width: 70px;
  height: 70px;
  object-fit: contain;
}

#SQL-image{
  width: 70px;
  height: 70px;
  object-fit: contain;
}
#postgreSQL-image{
  width: 70px;
  height: 70px;
  object-fit: contain;
}
#postman-image{
  width: 70px;
  height: 70px;
  object-fit: contain;
}
#github-image{
  width: 70px;
  height: 70px;
  object-fit: contain;
}