#projectContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-top: 150px;
    border-bottom: 1px solid rgb(247, 215, 240);
}

.projectHeader{
  font-family: Oxygen, sans-serif;
  margin-bottom: 0px;
  padding: 0;
  color: white;
  font-family: Oxygen,sans-serif;
  font-size: 50px;
}
#feedMeProject{
  width: 350px;
  height: 250px;
  object-fit: contain;
}

#mendingMindsProject{
  width: 350px;
  height: 250px;
  object-fit: contain;
}
.projectDescription{
  text-align: center;
}
.projectInfo{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 10px;
}