#projectContainer{
  height: 100vh;
  margin-top: 150px;
}

.projectHeader{
  font-family: Oxygen, sans-serif;
  margin-bottom: 0px;
  padding: 0;
}
#feedMeProject{
  width: 350px;
  height: 250px;
  object-fit: contain;
}

#mendingMindsProject{
  width: 350px;
  height: 250px;
  object-fit: contain;
}
.projectDescription{
  text-align: center;
  
}
.projectInfo{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 10px;
}