#projectsContainer{
  color: white;
  display: flex;
  justify-content: space-evenly;
  max-width: 100vw;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-top: 150px;
  margin: 130px;
}
.descriptionOfProjects{
  max-width: 400px;
}
.projectHeader{
  font-family: Oxygen, sans-serif;
  margin-bottom: 0px;
  padding: 0;
  font-size: 50px;
}
.projectTitle{
  text-align: center;
  margin-top: 0;
}
.projectDetails{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Oxygen,sans-serif;
}
.projectInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  margin: 55px;
}

.linksCont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 335px;
}

#feedMeProject{
  width: 350px;
  height: 250px;
  object-fit: contain;
}

#mendingMindsProject{
  width: 350px;
  height: 250px;
  object-fit: contain;
}
#spfProject{
  width: 350px;
  height: 250px;
  object-fit: contain;
}
