.navbarContainer {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: flex-start;
  position: sticky;
  flex-direction: row;
  background-color: rgb(145, 143, 145);
  align-items: flex-end;
  justify-content: flex-end;
  top: 0;
  border-bottom: 1px solid white;
  height: 50px;
  padding: 5px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(134, 233, 255);
}
